apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: app
  labels:
    app: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app-container
        image: nginx:latest 
        ports:
        - containerPort: 80
        env:
        - name: DATABASE_PASSWORD // container içinde oluşacak variable ismi
          valueFrom:
            secretKeyRef:
              name: secrets // ESO nun oluşturduğu secret in ismi
              key: DB_PASSWORD // secret içindeki referans key in adı
